*{
    background-color: rgb(238, 210, 132);
    color: rgb(177, 115, 1);
}
header{color: rgb(235, 202, 119);
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: rgb(241, 141, 9);
width: 900px;
height: 150px;
margin-left: 250px}
img{
    height: 150px;
    width: 150px;
}
#Titulo1{
    color: rgb(240, 184, 111);
}
.titulo2{
    color: rgb(221, 145, 31);
}
#Titulo3{
    display: flex;
    justify-content: center
}